.contacts-block {
    min-width: 300px;
    padding: 80px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 180px;

    @media (max-width: 1300px) {
        gap: 100px;
    }

    @media (max-width: 1170px) {
        gap: 50px;
    }

    @media (max-width: 1024px) {
        padding: 50px 20px;
    }

    @media (max-width: 768px) {
        min-width: auto;
        gap: 80px;
        padding: 20px 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item {
        display: flex;
        gap: 10px;

        @media (max-width: 450px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0;
        }

        span {
            @media (max-width: 450px) {
                font-size: 14px;
            }
        }
    }
}

.qr-code__container {
    border-left: 1px solid #61DAFB;
    padding-left: 20px;

    @media (max-width: 1024px) {
        display: none;
    }

    button {
        &:focus {
            outline: 1px solid #61DAFB;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    ul {
        position: relative;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1124px) {
            min-width: 300px;
        }

        @media (max-width: 1024px) {
            flex-direction: row;
            justify-content: start;
            flex-wrap: wrap;
        }
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
    }

    a {
        min-width: 80px;

        @media (max-width: 1024px) {
            background-color: #61DAFB;
            padding: 10px;
            border-radius: 10px;

            &:hover {
                background-color: #61DAFB;
            }

            &:active {
                background-color: #61DAFB;
            }
        }
    }
}

.qr-code {
    &__img-container {
        position: absolute;
        top: -50%;
        right: -195px;

        @media (max-width: 1124px) {
            top: -10%;
        }

        @media (max-width: 1024px) {
            display: none;
        }

        img {
            border-radius: 40px;

            @media (max-width: 1124px) {
                width: 200px;
                height: auto;
            }
        }
    }

    &__img-wrapper {
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.3s ease;
        pointer-events: none; // Отключаем взаимодействие когда скрыто

        // max-height: 400px;
        // border-radius: 40px;
        // background-color: white;
        // background-size: 290px 390px;
        // background-repeat: no-repeat;
        // background-position: center;

        &--visible {
            opacity: 1;
            transform: translateX(0);
            pointer-events: auto;
        }
    }
}

.btn {
    background-color: #f0f0f0;
    padding: 4px;
    color: #242424;
    min-width: 115px;
    transition: all 0.3s ease;

    &--clicked {
        background-color: #61DAFB;
        transform: scale(0.95);
    }

    &:hover {
        box-shadow: 0 0 15px #61DAFB;
    }

    &:active {
        transform: scale(0.95);
    }
}