.contacts-block {
    min-width: 300px;
    padding: 80px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 180px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item {
        display: flex;
        gap: 10px;
    }
}

.qr-code__container {
    border-left: 1px solid #61DAFB;
    padding-left: 20px;

    ul {
        position: relative;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
    }

    a {
        min-width: 80px;
    }
}

.qr-code {
    &__img-container {
        position: absolute;
        top: -50%;
        right: -195px;

        img {
            border-radius: 40px;
        }
    }

    &__img-wrapper {
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.3s ease;
        pointer-events: none; // Отключаем взаимодействие когда скрыто

        &--visible {
            opacity: 1;
            transform: translateX(0);
            pointer-events: auto;
        }
    }
}

.btn {
    background-color: #f0f0f0;
    padding: 4px;
    color: #242424;
    min-width: 115px;
    transition: all 0.3s ease;

    &--clicked {
        background-color: #61DAFB;
        transform: scale(0.95);
    }

    &:hover {
        box-shadow: 0 0 15px #61DAFB;
    }

    &:active {
        transform: scale(0.95);
    }
}