.contacts {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 55px 100px;

    @media (max-width: 1024px) {
        padding: 35px 25px 50px;
    }

    @media (max-width: 768px) {
        padding: 20px 15px 50px;
    }
}

.contacts__container {
    text-align: start;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}


