.expContainer {
    text-align: start;

    h2 {
        max-width: 955px;
        margin-bottom: 10px;
    }

    h3 {
        margin-bottom: 20px;
    }

    h4 {
        margin-bottom: 15px;
    }

    a {
        color: #61DAFB;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    li {
        max-width: 500px;
        position: relative;
        padding-left: 16px;

        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            left: 0;
            top: 8px;
            background-color: #61DAFB;
            border-radius: 50%;
        }
    }
}

.expInnerContainer {
    padding: 0 0 45px 0;
    position: relative;

    @media (max-width: 1024px) {
        padding: 0 0 45px 0;
    }

    @media (max-width: 768px) {
        padding: 0 0 45px 0;
    }

    &:not(:last-child):after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 15px;
        background: linear-gradient(45deg, #61DAFB 0%, #61DAFB 50%, #f0f0f0 100%);
    }

    >div {
        padding-left: 10px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}