.blog {
    flex: 1 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__container {
    padding-left: 55px;
    padding-right: 55px;

    h1 {
        font-size: 40px;
        color: transparent;
        background-image: linear-gradient(90deg, #61dafb, #fff, #61dafb);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        animation: colorShift 3s infinite linear;
    }
}

@keyframes colorShift {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.blog__header {
    display: flex;
    justify-content: space-between;
}

.blog__pagination {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog__buttons {
    padding: 5px 10px;
    max-height: 30px;
    min-width: 115px;

    &--authorization {
        min-width: auto;
        color: #f0f0f0;
        background-color: transparent;
        border: none;

        transition: all 0.3s ease;

        &:hover {
            color: #61DAFB;
            box-shadow: none;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

.blog__authorization {
    display: flex;
    gap: 20px;
    padding: 5px;
}