.stack-icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 11px;
    padding: 20px;

    @media (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: opacity(0) scale(0.8);
    transition: all 0.4s ease;

    &.visible {
        opacity: 1;
        transform: opacity(1) scale(1);
    }

    &:hover {
        transform: scale(1.5);
    }

    img {
        @media (max-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}