.stack-icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
    padding: 20px;
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: opacity(0) scale(0.8);
    transition: all 0.4s ease;

    &.visible {
        opacity: 1;
        transform: opacity(1) scale(1);
    }

    &:hover {
        transform: scale(1.5);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}