.footer__links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1);

        @media (hover: hover) {
            &:hover {
                transform: scale(1.5);
            }
        }

        &:active {
            transform: scale(1.3);
        }
    }
}