.footer__links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}