.projects {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 100px 55px 100px;

    p {
        text-align: start;
        font-size: 16px;
    }
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.projects__list {
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &:not(:last-child):after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -30px;
        background: linear-gradient(45deg, #61DAFB 0%, #61DAFB 50%, #f0f0f0 100%);
    }
}

.projects__description {
    text-align: end;
}

.projects__img-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.projects__stack-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;

    >div {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.projects__tech {
    position: relative;
    padding-left: 16px;

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: 0;
        top: 8px;
        background-color: #61DAFB;
        border-radius: 50%;
    }
}

.projects__img {
    width: 100%;
    height: auto;

    animation: slideUp 20s ease infinite;
}

.projects__btn {
    min-width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #61DAFB;
    color: inherit;
    transition: all 0.3s ease;

    &:hover {
        color: #61DAFB;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

@keyframes slideUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20%);
    }
}

//React Transition Group стили

.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}