.projects {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 100px 55px 100px;

    p {
        font-size: 16px;
    }
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.projects__list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &:not(:last-child):after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -30px;
        background: linear-gradient(45deg, #61DAFB 0%, #61DAFB 50%, #f0f0f0 100%);
    }
}

.projects__description {
    text-align: end;
}

.projects__img-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.projects__stack-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 35px;
    }
}

.projects__tech {
    position: relative;
    padding-left: 16px;

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #61DAFB;
        border-radius: 50%;
    }
}

.projects__img {
    width: 100%;
    height: auto;

    animation: slideUp 30s ease infinite;
}

@keyframes slideUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }
}