.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 55px;

    @media (max-width: 1024px) {}

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
        padding-top: 20px;
    }

    p {
        font-size: 12px;
    }
}